#dice{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 50px auto;
    text-align: center;
    font-size: 90px;
    line-height: 200px;
    border-radius: 20px;
}
#button{
    background-color: rgb(53, 203, 203);
    height: 50px;
    width: 100px;
    margin: auto;
    display: block;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}