body {
  background-color: #222;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 30px;
}

img, video {
  margin-top: 20px;
  border: 5px solid purple;
  border-radius: 10px;
}