.main{
    background: linear-gradient(90deg,red,orange,yellow,green,blue,indigo,purple);
    width:100%;
    height: 50px;
    line-height: 50px;
}
h3{
    color: gray;
    text-align: center;
    
}